/* Header */
i {
  color: white;
}
/* nav-top */
.nav-top-conatiner {
  height: 52px;
}

.nav-top-container {
  height: 52px;
  background-color: var(--color-black);
}

.nav-top-container {
  display: flex;
}

.nav-top-start {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.nav-top-start a {
  display: flex;
  align-items: center;
}

.nav-top-mid {
  width: 60%;
  display: flex;
  justify-content: center;
}
.nav-top-title {
  width: 103%;
  font-size: 35px;
  height: 100%;
  color: var(--color-white);
  font-family: "Black Han Sans", sans-serif;
  background-color: var(--color-red);
}
.nav-top-end {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.nav-top-end a {
  display: flex;
  align-items: center;
}

/* nav-bottom */
.nav-bottom-conatiner {
  display: flex;
  background-color: var(--color-black);
  height: 40px;
}

.nav-bottom-start,
.nav-bottom-end {
  width: 15%;
}

.nav-bottom-mid {
  width: 70%;
}

.nav-bottom-mid ul {
  height: 100%;
  display: flex;
  color: white;
  font-weight: bold;
  align-content: center;
  justify-content: space-evenly;
}

.nav-bottom-mid li {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  color: rgba(150, 150, 150, 0.8);
}

.desktop {
  display: none;
}

.nav-bottom-mid li:hover {
  border-bottom: 2px solid var(--color-dark-red);
  color: var(--color-white);
}

/* Responsive header */
@media screen and (min-width: 800px) {
  .desktop {
    display: block;
  }
  .nav-bottom-conatiner.desktop {
    display: flex;
  }

  /* Nav top */
  .nav-top-container {
    border-bottom: 2px solid rgb(150, 150, 150, 0.4);
  }

  .nav-top-start,
  .nav-top-end {
    width: 10%;
  }

  .nav-top-mid {
    border-left: 2px solid rgb(150, 150, 150, 0.4);
    border-right: 2px solid rgb(150, 150, 150, 0.4);
    width: 15%;
    width: 80%;
  }

  .nav-top-mid__start,
  .nav-top-mid__mid,
  .nav-top-mid__end {
    display: flex;
    align-items: center;
  }
  .nav-top-mid__start {
    justify-content: flex-start;
    border-right: 2px solid rgb(150, 150, 150, 0.4);
    width: 20%;
  }
  .nav-top-mid__mid {
    justify-content: center;
    width: 60%;
  }
  .nav-top-mid__end {
    justify-content: space-between;
    border-left: 2px solid rgb(150, 150, 150, 0.4);
    width: 20%;
    display: flex;
    color: var(--color-white);
  }

  .nav-top__subscribe {
    font-family: "Black Han Sans";
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .nav-top__search {
    border-left: 2px solid rgb(150, 150, 150, 0.4);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
